services:
  mariadb:
    image: mariadb:10.11
    container_name: wheretopop-mariadb
    restart: always
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      TZ: ${TZ}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    command: --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --default-authentication-plugin=mysql_native_password
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5
#
#  elasticsearch:
#    image: docker.elastic.co/elasticsearch/elasticsearch:8.11.3
#    container_name: wheretopop-elasticsearch
#    env_file:
#      - .env
#    environment:
#      - discovery.type=single-node
#      - xpack.security.enabled=false
#      - bootstrap.memory_lock=true
#      - ES_JAVA_OPTS=${ES_JAVA_OPTS}
#    ulimits:
#      memlock:
#        soft: -1
#        hard: -1
#    volumes:
#      - elasticsearch_data:/usr/share/elasticsearch/data
#    ports:
#      - "${ES_PORT}:9200"
#      - "9300:9300"
#    healthcheck:
#      test: ["CMD", "curl", "-f", "http://localhost:9200"]
#      interval: 10s
#      timeout: 5s
#      retries: 5
#
#  kibana:
#    image: docker.elastic.co/kibana/kibana:8.11.3
#    container_name: wheretopop-kibana
#    env_file:
#      - .env
#    environment:
#      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
#    ports:
#      - "5601:5601"
#    depends_on:
#      elasticsearch:
#        condition: service_healthy

#  ollama:
#    image: ollama/ollama:latest
#    container_name: wheretopop-ollama
#    restart: always
#    ports:
#      - "11434:11434"
#    volumes:
#      - ollama_data:/root/.ollama
#    command: serve
#    environment:
#      - OLLAMA_MODELS=/root/.ollama/models
#      - OLLAMA_HOST=0.0.0.0:11434
#    healthcheck:
#      test: ["CMD", "curl", "-s", "-f", "http://localhost:11434"]
#      interval: 10s
#      timeout: 5s
#      retries: 10



  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: wheretopop-api
    restart: always
    env_file:
      - .env
    ports:
      - "${API_PORT:-8080}:8080"
    depends_on:
      mariadb:
        condition: service_healthy

volumes:
  mariadb_data:
    driver: local



